[submodule "vendor/glad"]
	path = vendor/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "vendor/HandmadeMath"]
	path = vendor/HandmadeMath
	url = https://github.com/paked/Handmade-Math.git
[submodule "vendor/us"]
	path = vendor/us
	url = git@github.com:paked/us.git
